@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Inter", sans-serif;
}

body {
    background-color: #fff;
    height: 100vh;
    overflow-y: hidden;
}

#root,
.tab-content {
    height: 100%;
}
